## Intro to Jupyter

* we can write markdown or python code in our cells. You can choose accordingly in the dropdown above.

In [7]:
a = 10
b = 12.3
print(a, end=' ')
print(b)
#print(12)
12 , 13 , b ,a

10 12.3

(12, 13, 12.3, 10)

In [8]:
a = a + 10
a = a - 10
print(a)
print(b)

10
12.3

In [9]:
print(type(a))
type(b)

<class 'int'>

float

In [10]:
#operators 
print(a + 10)
print(a - 10)
print(a * b)
print(a ** 2)
print(a / b)
print(a // b)

20
0
123.0
100
0.8130081300813008
0.0

In [13]:
#Strings
a = "def"
print(type(a))
a = 'def'
print(type(a))
a ="this is a string"

a =''' jajkjskajdjskajd '''
a

<class 'str'>
<class 'str'>

' jajkjskajdjskajd '

In [14]:
#typical string operations
print(len(a))
print(type(a))
print(a[3])
#string are immutable
#a[2] = 's' 
b = " Innovative" #valid as we aren't changing the string
c = a + b
print(c)
# d = a + 2 it is not possible
print(a)

18
<class 'str'>
j
 jajkjskajdjskajd  Innovative
 jajkjskajdjskajd

In [15]:
a = "  abc  "
a = a.upper()
print(a.isupper())
print(a.lower())
print(a.strip())
print(a.isalpha())

True
  abc
ABC
False

In [17]:
#User input
a = (input("Please enter a number"))
a

Please enter a number200

'200'

In [18]:
type(a)

str

In [20]:
a
a = int(a)
type(a)

int

In [21]:
#negative indexing
a ="abc"
print(a[0])
print(a[-3])
print(a[-1])

a
a
c

In [22]:
#slicing
s = "abcdefg"
print(s[1:3])
print(s[-3:-1])
print(s[3:])

bc
ef
defg

In [25]:
#Tuple
t = (1,2,3)
m = (1,"datatype",3.4)
print(type(t), type(m))
print(t[0])
print(t[1:3])
#tuples are immutable
#t[0] =25  #INVALID

<class 'tuple'> <class 'tuple'>
1
(2, 3)

In [26]:
#operations on tuple
print(t + m)
print(t * 3)
print(1 in t)
print(1 in m)
print(2 in m)

(1, 2, 3, 1, 'datatype', 3.4)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
True
True
False